<html id="ng-app" lang="en" class="ng-app: hotStar; ng-scope">
<!--<![endif]-->

<head>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="css/style.min.07032017_0.6641396826598793_v5.0.40.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&amp;subset=latin,greek,latin-ext,greek-ext,cyrillic,vietnamese,cyrillic-ext" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        var w = window;
        if (w.performance || w.mozPerformance || w.msPerformance || w.webkitPerformance) {
            var d = document,
                AKSB = AKSB || {};
            AKSB.q = [];
            AKSB.mark = function(a, b) {
                AKSB.q.push(["mark", a, b || (new Date).getTime()])
            };
            AKSB.measure = function(a, b, c) {
                AKSB.q.push(["measure", a, b, c || (new Date).getTime()])
            };
            AKSB.done = function(a) {
                AKSB.q.push(["done", a])
            };
            AKSB.mark("firstbyte", (new Date).getTime());
            AKSB.prof = {
                custid: "331530",
                ustr: "",
                originlat: 0,
                clientrtt: 320,
                ghostip: "122.15.34.119",
                ipv6: false,
                pct: 10,
                clientip: "115.97.43.126",
                requestid: "3fcc4851",
                region: "25879",
                protocol: "",
                blver: 11,
                akM: "e12",
                akN: "ae",
                akTT: "O",
                akTX: "1",
                akTI: "3fcc4851",
                ai: "207300",
                ra: "",
                pmgn: "",
                pmgi: "",
                pmp: ""
            };
            (function(a) {
                var b = d.createElement("script");
                b.async = "async";
                b.src = a;
                a = d.getElementsByTagName("script");
                a = a[a.length - 1];
                a.parentNode.insertBefore(b, a)
            })(("https:" === d.location.protocol ? "https:" : "http:") + "//ds-aksb-a.akamaihd.net/aksb.min.js")
        };
    </script>
</head>

<body ng-controller="MainBodyCtrl" ng-class="bgClass" onclick="autoplay()" class="ng-scope movies-featured-bg">
    <div class="master-container">
        <div class="master-container-inner">
            <!-- ngInclude: undefined -->
            <div ng-controller="TopMenuCtrl" class="ng-scope">
                <!-- ngInclude: undefined -->
                <ng-include src="'partials/topMenu.html'" class="ng-scope">
                    <!-- ngIf: showHeader -->
                    <header ng-if="showHeader" ng-show="isMastheadRendered" class="nav-down ng-scope floating-header" id="mostTop" ng-class="{'floating-header': floatingHeader, 'header-down': !floatingHeader, 'floating-header-blue': isWatchPage, 'header-height': orientChange}">
                        <div class="header-gradient"></div>
                        <nav class="navbar" role="navigation" id="topMenuId">
                            <div class="container" id="topMenuCtrlHook">
                                <div class="navbar-nav-parent">
                                    <div class="nav navbar-nav dropdown top-menu" dropdown="" is-open="status.isopen">
                                        <button class="btn-hamburger dropdown-toggle" ng-show="breakPoint == 'large'"></button>
                                        <button ng-click="showOffCanvasMenu($event);" class="mob-menu ng-hide" ng-hide="breakPoint == 'large'"></button>
                                    </div>
                                    <a class="navbar-brand" ng-href="/ref=nav_logo" href="/ref=nav_logo"><img id="hotstarLogo" placeholder-img="{'realUrl' :  'https://secure-media.hotstar.com/logo/default/PCTV/hotstar.svg', 'placeholderUrl' : './img/new/logo-hotstar.svg'}" alt="hotstar – Watch TV Shows, Movies &amp; Live Cricket Matches Online" class="img-responsive ng-isolate-scope" src="https://secure-media.hotstar.com/logo/default/PCTV/hotstar.svg" style="display: block;">
                                    </a>
                                </div>
                                <ul id="primary-nav" class="nav navbar-nav primary-nav" ng-hide="!floatingHeader &amp;&amp; breakPoint != 'large'">
                                    <!-- ngRepeat: menuItem in menuItems | limitTo : getMenuLimit() -->
                                    <li ng-mouseover="onMouseOver(menuItem, $event)" ng-mouseleave="onMouseLeave(menuItem, $event)" ng-repeat="menuItem in menuItems | limitTo : getMenuLimit()" ng-class="{'active': menuItem.categoryId == getSelectedMenuCatId(), 'menu-item-li': true}" class="ng-scope menu-item-li"><a ng-href="/" restrict-anchor="" ng-click="navigatePage(menuItem, $event)" ng-tap="navigatePage(menuItem)" class="ng-binding" href="/"><i class="active"></i> HOME</a>
                                        <div class="navbar-nav-parent" style="margin-left:-15px">
                                            <div class="nav navbar-nav dropdown top-menu" dropdown="" is-open="true">
                                                <!-- ngIf: menuItem.hoverMenuItems -->
                                            </div>
                                        </div>
                                    </li>
                                    <!-- end ngRepeat: menuItem in menuItems | limitTo : getMenuLimit() -->
                                    <li ng-mouseover="onMouseOver(menuItem, $event)" ng-mouseleave="onMouseLeave(menuItem, $event)" ng-repeat="menuItem in menuItems | limitTo : getMenuLimit()" ng-class="{'active': menuItem.categoryId == getSelectedMenuCatId(), 'menu-item-li': true}" class="ng-scope menu-item-li"><a ng-href="/tv" restrict-anchor="" ng-click="navigatePage(menuItem, $event)" ng-tap="navigatePage(menuItem)" class="ng-binding" href="/tv"><i class="active"></i> TV</a>
                                        <div class="navbar-nav-parent" style="margin-left:-15px">
                                            <div class="nav navbar-nav dropdown top-menu" dropdown="" is-open="true">
                                                <!-- ngIf: menuItem.hoverMenuItems -->
                                                <ul class="dropdown-menu sub-menu ng-scope" ng-if="menuItem.hoverMenuItems" ng-mouseover="showDropDownMenu($event)" ng-mouseleave="hideDropDownMenu($event)" style="margin-top: 9px; min-width: 120px; height: 0px;">
                                                    <!-- ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/channels/star-plus" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/channels/star-plus">Star Plus </a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/channels/asianet" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/channels/asianet">Asianet</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/channels/star-vijay" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/channels/star-vijay">Star Vijay </a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/channels/hbo-originals" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/channels/hbo-originals">HBO Originals</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/channels/star-world" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/channels/star-world">Star World </a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/channels/life-ok" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/channels/life-ok">Life Ok</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/channels/star-jalsha" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/channels/star-jalsha">Star Jalsha</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/channels/channels" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/channels/channels">More</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                </ul>
                                                <!-- end ngIf: menuItem.hoverMenuItems -->
                                            </div>
                                        </div>
                                    </li>
                                    <!-- end ngRepeat: menuItem in menuItems | limitTo : getMenuLimit() -->
                                    <li ng-mouseover="onMouseOver(menuItem, $event)" ng-mouseleave="onMouseLeave(menuItem, $event)" ng-repeat="menuItem in menuItems | limitTo : getMenuLimit()" ng-class="{'active': menuItem.categoryId == getSelectedMenuCatId(), 'menu-item-li': true}" class="ng-scope menu-item-li active"><a ng-href="/movies" restrict-anchor="" ng-click="navigatePage(menuItem, $event)" ng-tap="navigatePage(menuItem)" class="ng-binding" href="/movies"><i class="active"></i> MOVIES</a>
                                        <div class="navbar-nav-parent" style="margin-left:-15px">
                                            <div class="nav navbar-nav dropdown top-menu" dropdown="" is-open="true">
                                                <!-- ngIf: menuItem.hoverMenuItems -->
                                                <ul class="dropdown-menu sub-menu ng-scope" ng-if="menuItem.hoverMenuItems" ng-mouseover="showDropDownMenu($event)" ng-mouseleave="hideDropDownMenu($event)" style="margin-top: 9px; min-width: 120px; height: 0px;">
                                                    <!-- ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/languages/hindi" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/languages/hindi">Hindi</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/languages/english" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/languages/english">English</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/languages/malayalam" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/languages/malayalam">Malayalam</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/languages/tamil" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/languages/tamil">Tamil</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/languages/bengali" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/languages/bengali">Bengali</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/languages/telugu" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/languages/telugu">Telugu</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/languages/marathi" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/languages/marathi">Marathi</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/languages/all" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/languages/all">More</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                </ul>
                                                <!-- end ngIf: menuItem.hoverMenuItems -->
                                            </div>
                                        </div>
                                    </li>
                                    <!-- end ngRepeat: menuItem in menuItems | limitTo : getMenuLimit() -->
                                    <li ng-mouseover="onMouseOver(menuItem, $event)" ng-mouseleave="onMouseLeave(menuItem, $event)" ng-repeat="menuItem in menuItems | limitTo : getMenuLimit()" ng-class="{'active': menuItem.categoryId == getSelectedMenuCatId(), 'menu-item-li': true}" class="ng-scope menu-item-li"><a ng-href="/sports" restrict-anchor="" ng-click="navigatePage(menuItem, $event)" ng-tap="navigatePage(menuItem)" class="ng-binding" href="/sports"><i class="active"></i> SPORTS</a>
                                        <div class="navbar-nav-parent" style="margin-left:-15px">
                                            <div class="nav navbar-nav dropdown top-menu" dropdown="" is-open="true">
                                                <!-- ngIf: menuItem.hoverMenuItems -->
                                                <ul class="dropdown-menu sub-menu ng-scope" ng-if="menuItem.hoverMenuItems" ng-mouseover="showDropDownMenu($event)" ng-mouseleave="hideDropDownMenu($event)" style="margin-top: 9px; min-width: 120px; height: 0px;">
                                                    <!-- ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/sports/cricket" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/sports/cricket">Cricket</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/sports/football" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/sports/football">Football</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/sports/hockey" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/sports/hockey">Hockey</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/sports/badminton" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/sports/badminton">Badminton</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/sports/kabaddi" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/sports/kabaddi">Kabaddi</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/sports/tennis" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/sports/tennis">Tennis</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                    <!-- ngIf: menuItem.hoverMenuItems -->
                                                    <li ng-if="menuItem.hoverMenuItems" ng-repeat="hoverMenuItem in menuItem.hoverMenuItems" class="ng-scope"><a ng-href="/sports/formula-1" restrict-anchor="" ng-click="navigateHoverMenu(hoverMenuItem, $event)" ng-class="{'active': hoverMenuItem.categoryId == getSelectedHoverMenuCatId()}" style="padding-right:30px" class="ng-binding" href="/sports/formula-1">Formula 1</a>
                                                    </li>
                                                    <!-- end ngIf: menuItem.hoverMenuItems -->
                                                    <!-- end ngRepeat: hoverMenuItem in menuItem.hoverMenuItems -->
                                                </ul>
                                                <!-- end ngIf: menuItem.hoverMenuItems -->
                                            </div>
                                        </div>
                                    </li>
                                    <!-- end ngRepeat: menuItem in menuItems | limitTo : getMenuLimit() -->
                                    <li ng-mouseover="onMouseOver(menuItem, $event)" ng-mouseleave="onMouseLeave(menuItem, $event)" ng-repeat="menuItem in menuItems | limitTo : getMenuLimit()" ng-class="{'active': menuItem.categoryId == getSelectedMenuCatId(), 'menu-item-li': true}" class="ng-scope menu-item-li"><a ng-href="/channels" restrict-anchor="" ng-click="navigatePage(menuItem, $event)" ng-tap="navigatePage(menuItem)" class="ng-binding" href="/channels"><i class="active"></i> CHANNELS</a>
                                        <div class="navbar-nav-parent" style="margin-left:-15px">
                                            <div class="nav navbar-nav dropdown top-menu" dropdown="" is-open="true">
                                                <!-- ngIf: menuItem.hoverMenuItems -->
                                            </div>
                                        </div>
                                    </li>
                                    <!-- end ngRepeat: menuItem in menuItems | limitTo : getMenuLimit() -->
                                </ul>
                                <ul class="nav navbar-nav navbar-right search ng-scope" id="autoSearchBox" ng-controller="AutoSearchBoxCtrl">
                                    <li>
                                        <div class="search-overlay" ng-click="hideSearchCardList()"></div>
                                        <input type="search" placeholder="Search for shows, movies, sports and TV channels" class="form-control auto-complete-search ng-pristine ng-valid desktop-search-input" id="autoCompleteSearchId" ng-model="searchString" ng-trim="false" ng-class="{'desktop-search-input':isDesktop}">
                                        <button ng-click="showSearchCardList()" class="open-search desktop-search" ng-class="{'desktop-search':isDesktop}"><span ng-hide="breakPoint != 'large'" class="">SEARCH</span>
                                        </button>
                                    </li>
                                    <!-- ngInclude: undefined -->
                                    <ng-include src="'scripts/common/views/autoCompleteSearchBox.html'" class="ng-scope">
                                        <div id="autoSearchBoxCards" class="popover fade auto-search-container ng-scope hideSearched popover-desktop-notSigned" ng-class="{
	'showSearched' : showSearchPanel, 'hideSearched' : !showSearchPanel, 'popover-desktop' : (isDesktop &amp;&amp; isSigned), 'popover-desktop-notSigned': (isDesktop &amp;&amp; !isSigned)}" style="display: none;">
                                            <p class="no-result-msg" style="display: none;">No results found</p>
                                            <div class="popover-content">
                                                <!-- ngRepeat: card in slideCollection -->
                                            </div>
                                            <!-- ngIf: hasMore -->
                                        </div>
                                    </ng-include>
                                    <!-- ngIf: isDesktop -->
                                    <li ng-if="isDesktop" class="user-profile ng-scope" ng-mouseover="onMouseOver(menuItem, $event)" ng-mouseleave="onMouseLeave(menuItem, $event)">
                                        <!-- ngIf: !isSigned && isSubsEnabled && isDesktop --><a ng-if="!isSigned &amp;&amp; isSubsEnabled &amp;&amp; isDesktop" class="sign-in ng-scope" ng-click="login()" ng-tap="login()">Sign In</a>
                                        <!-- end ngIf: !isSigned && isSubsEnabled && isDesktop -->
                                    </li>
                                    <!-- end ngIf: isDesktop -->
                                    <top-menu-scroll></top-menu-scroll>
                                </ul>
                            </div>
                        </nav>
                    </header>
                </ng-include>
            </div>
        </div>
    </div>




</body>

</html>